.main{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 30vh;
}
h1{
    margin-bottom: 10 rem;
    color: white;
}
.input{
    border: 1px solid #333;
    border-radius: .3rem;
    padding: .25rem;
    width: 7rem;
}
.form-select{
    margin-left: .5rem;
}
.equals{
    font-weight: bold;
    font-size: 2rem;
}
.inputs{
    display: flex;
    flex-direction: row;
}
